@model List<Employee>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<div class="row">
    <div class="col-md-3">
        <ul><li><details open><summary>Contacts</summary>
                    <ul>
                        <li>List</li>
                    </ul>
                </details>
            </li>
            <li>Departments</li>
            <li>Employees</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Personal</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Department</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Administration</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active" role="tabpanel">
                    @if ( SignInManager.IsSignedIn(User))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name Surname</th>
                                    <th>Phone Number</th>
                                    <th>Departman</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var emp in Model.Where(c=>c.Contact.OwnerId==UserManager.GetUserId(User)) )
                                {
                                    <tr>
                                        <td>@emp.Contact.Name @emp.Contact.Surname</td>
                                        <td>@emp.Contact.Phone</td>
                                        <td>@emp.Department.Name</td>
                                        <td>@UserManager.FindByIdAsync(emp.OwnerId).Result.UserName</td>
                                    </tr>
                    
                                }
                            </tbody>
                        </table>
            
                    }else{<p class="danger"> yetkin yok!</p>}
                </div>

                <div id="tab-2" class="tab-pane" role="tabpanel">
                    @if ( User.IsInRole("manager"))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name Surname</th>
                                    <th>Phone Number</th>
                                    <th>Departman</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var emp in Model.Where(e=>e.Contact.Owner.?.Department?.ManagerId==UserManager.GetUserId(User)))
                                {
                                <tr>
                                    <td>@emp.Name @emp.Surname</td>
                                    <td>@emp.Phone</td>
                                    @if(emp.Employee != null)
                                    {
                                        <td>@emp.Employee.Department.Name</td>                                
                                    }else{
                                        <td>bizim departmanda değil.</td>
                                    }
                                        <td>@UserManager.FindByIdAsync(emp.OwnerId).Result.UserName</td>
                                </tr>
                    
                                }
                            </tbody>
                        </table>
                    }else{<p class="danger"> yetkin yok!</p>}
                </div>
            
                <div id="tab-3" class="tab-pane" role="tabpanel">
                    @if ( User.IsInRole("admin"))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name Surname</th>
                                    <th>Phone Number</th>
                                    <th>Departman</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var emp in Model)
                                {
                                <tr>
                                    <td>@emp.Name @emp.Surname</td>
                                    <td>@emp.Phone</td>
                                    @if(emp.Employee != null)
                                    {
                                        <td>@emp.Employee.Department.Name</td>                                
                                    }else{
                                        <td>bu tanıdık bir iş arkadaşımız değil.</td>
                                    }
                                        <td>@UserManager.FindByIdAsync(emp.OwnerId).Result.UserName</td>>
                                </tr>
                    
                                }
                            </tbody>
                        </table>
            
                    }else{<p class="danger"> yetkin yok!</p>}
                </div>
            </div>
        </div>
    </div>
</div>